[Desktop Entry]
Exec=ssh-add -q
GenericName[en_US]=Adds private key identities to the OpenSSH authentication agent
GenericName=Adds private key identities to the OpenSSH authentication agent
MimeType=
Name[en_US]=ssh-add
Name=ssh-add
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
